<% @comment_id = comment.new_record? ? "new" : "#{comment.id}" %>
<li class="comment" id="comment-<%= @comment_id %>">
<% if not defined?(edit_comment) or (not comment.id.nil? and edit_comment.id != comment.id) %>
  <%= render :partial => 'comments/show',
      :locals => { :comment => comment, :this_is_preview => nil } %>
<% else %>
  <%= render :partial => 'comments/edit',
      :locals => { :edit_comment => edit_comment } %>
<% end %>
</li>
