<h1>Request information</h1>   
<p>Request class: <%= @request.class %>
<table> 
  <% @request.headers.keys.each do |key| %>
      <tr><td><%= key %></td><td><%= @request.headers[key] %></td></tr>
  <% end %>
</table>
