#!/bin/bash
# modify mail/url and apppath for your local iBlog setup
# source and chruby is optional

mail=recipients@domain.tld
url=https://url/blogging
apppath=/your/path/to/iBlog/

source /usr/local/share/chruby/chruby.sh
chruby ruby-2.0.0-p451

cd $apppath
bundle exec rake weeklymail:deliver["$mail","$url"] RAILS_ENV=production
