<h2>Server</h2>

<h3>Log (Letzte 50 Einträge)</h3>

<pre>
  <%= @log %>
</pre>

<h2>Request</h2>

<h3>Headers</h3>

<dl class="dl-horizontal">
  <% @headers.each do |key, value| %>
    <dt><%= key %></dt>
    <dd><%= value %></dd>
  <% end %>
</dl>
