<li>
  <img src="https://internal.innoq.com/iqumf/images/users/thm-<%= status_message.author %>.jpg"
      alt="<%= status_message.author %>" class="avatar">
  <small>vor <%= time_ago_in_words(status_message.updated_at) %></small>
  <p><%= status_message.body %></p>
</li>
